<!DOCTYPE html>
<html lang="es">
	
<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<% if(locals.user != undefined){ %>
        <%- include('./partials/headerLogueado') %>
   
    <%  } else {%>
        <%- include('./partials/header') %>

    <% } %>
	<!-- /Header -->
	
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=productos.nombre%></h2> 
			<p class="product-detail-description">
				<a href="/product/editProduct/<%=productos.id%>">Editar</a>
				<a href="/product/delete/<%=productos.id%>">- Eliminar</a>
				
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%=productos.imagen%>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%=productos.descripcion%></p>
						<p class="product-detail-description">Cargado por usuario: 
							<a href="/profile/id/<%=productos.usuario_id %>"><%=productos.usuario.usuario%></a></p>	
				</article>
				
				<% if(locals.user != undefined){ %>
					<% for (let i = 0; i < comentarios.length; i++) { %>
					<article>
						<img src="" alt="">
						<div>
							<p>
								<strong><a href=""></a></strong>
								
							</p>
						</div>
					</article>
					<% } %>
					<form class="form" action="/product/id/<%=productos.id%>" method="POST">
						<input class="form-input" type="text" name="comentario" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form> 
					
				<%  } else {%>
					<div>
					 <a href="/profile/login" class="buy-now-button" >LOGUEATE PARA COMENTAR!</a>
					</div>
				<% } %>
				
					<hr>
				
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->

</body>	
</html>