<!DOCTYPE html>
<html lang="es">
	
<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<% if(locals.usuario != undefined){ %>
        <%- include('./partials/headerLogueado') %>
   
    <%  } else {%>
        <%- include('./partials/header') %>

    <% } %>
	<!-- /Header -->
	
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<% if(productos.length == 0){ %>
				<h1>No se encontraron productos con el termino: <%= resultado %> </h1>
					 <%  } else {%>
			<p class="product-detail-description"></p>
		</div>
		<div class="product-detail">
			<div class="row" >
				
				<article class="col-12 col-lg-8 product-detail-info">
					<ul> 
						<% for(let i =0; i<productos.length;i++) {%>
						<li><a href="/product/<%=productos[i].id %>">
							<a class="products-title"><%=productos[i].nombre%></a></li>
							<img src="/images/products/<%=productos[i].imagen%>" class="product-detail-img">
							<p class="product-detail-description">
								<%=productos[i].descripcion%></p>
						<% } %>  
					</ul>
				</article>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
				
				</div>
			</div>
		</div>
		<% } %>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->

</body>	
</html>